<div id="about-container">
<h1>О проекте ТКМото</h1>
<hr/>
	<h4>
    	<p>&emsp;Данный проект разрабатывается в целях отработки навыков веб-программирования с использованием языка Ruby и фреймворка Rails. Назначение проекта ТКМото - сбор статистических данных о мотоциклах компании - данные по топливу, ремонту, замене зап. частей, пробегу, движению по покрытиям различного типа с последующим математическим расчетом характеристик, мат. моделированием вероятных отказов и их графической визуализацией.</p>
    	<br/>
    	В проекте применены следующие языки, решения и технологии:<br/>
    	<li>бэкенд и MVC-каркас - Ruby-On-Rails 5.0;</li>
    	<li>база данных - PostgreSQL 9.5;</li>
    	<li>средства тестирования - Rspec, Capybara;</li>
    	<li>разметка, адаптация и дизайн - Bootstrap 3, CSS 3;</li>
    	<li>фронтенд и графическая часть - JavaScript (JQuery), ZingaCharts;</li>
    	<li>взаимосвязь фронт-бэкенд - JSON, AJAX;</li>
    	<li>валидация данных - средствами ActiveRecord;</li>
    	<li>ООП структура сайта;</li>
    	<li>контроллеры, модели и страницы покрыты тестами;</li>
    	<li>адаптивный дизайн сайта для отображения на портативных устройствах;</li>
    	<li>Git-система контроля версий.</li>
	</h4>
<br/>
	<h4>
		<p>&emsp;В скором обновлении будет добавлено:<br/>
		<li>авторизация и регистрация;</li>
		<li>сбор статистики по ремонту байка;</li>
		<li>сбор статистики о движении по покрытию различного рода</li>
		<li>интеграция гугл-карт для отображения посещенных мест</li></p>
		<br/>
		<p>&emsp;Планы на дальнейшее развитие проекта:
		<li>визуализация рассчетных и эмпирических данных в виде графиков и диаграмм;</li>
		<li>альбом с фотографиями поездок с привязками к гугл-карте;</li>
		<li>бот-поддержка через сеть Вконтакте или Telegram;</li>
		<li>... и все что понадобится впредь.</li>
		</p>
	</h4>
<hr/>
В заключение - счетчик Госдолга США<br/>
<script src="http://www.zfacts.com/giz/G05/debt.js" type=text/javascript></script>
</div>