<div>
  <div id='anotherstataChart'></div>
</div>



<script>

  var anotherstataChartConfig = {  
    graphset:[
    {
      type: "area",
      title: {
        text: "Кол-во заправляемого топлива, л",
      },
      "scale-y":{
        "label":{"text":"литры"}
      },
      series:[ { values: <%= JSON.parse(@json_stata_refueling) %> } ]
    },
  
    {
      type: "bar3d",
      title: {
        text: "Стоимость заправки, грн"
      },
      "scale-y":{
        "label":{"text":"грн"}
      }, 
      "series":[ { values: <%= JSON.parse(@json_stata_price_fuel) %> } ]
    },


    {
      backgroundColor : "#fff",
      globals : {
        shadow : false,
        fontFamily : "Helvetica"
        },
  
      type: "area", 
      title :{
        text : "Пробег между заправками, км",
        fontColor : "#5f5f5f",
        backgroundColor : "transparent",
        textAlign : "left",
        padding: "15px 15px",
        fontSize : "20px"
        },


      scaleY : {
        label:{"text":"км"},
        lineColor : "#5f5f5f",
        lineWidth : "1px",
        tick : {
          lineColor : "#5f5f5f",
          lineWidth : "1px"
          },
      guide : {
        lineStyle : "solid",
        lineColor : "#626262"
        },
      item : {
        fontColor : "#5f5f5f"
        },
      },
      tooltip : {
        visible : false
        },
      
      plot : {
        "contour-on-top":false,
         alphaArea : 1,
         lineWidth : "2px",
         aspect : "spline",
         marker : { visible : false },
      
    },
    series : [
      {
        values: <%= JSON.parse(@json_stata_odo_delta) %>,
        backgroundColor1: "#E84F28",
        backgroundColor2: "#E84F28",
        lineColor : "#E84F28"
        },
        ]
      }
    ]
  };


  window.onload=function(){

    zingchart.render({
      id:'anotherstataChart',
      data: anotherstataChartConfig,
      height: "99%",
      width: "100%"
    });
  };

</script>