<h2> Редактировать запись статистики по топливу </h2>
<p id="notice"><%= notice %></p>

  <%= render 'form_fuel_edit', stata_fuel: @stata_fuel %>

<br/>
  <%= link_to 'Назад', new_bike_stata_fuel_path %>