<h2> Fuel statistics page </h2>
<p id="notice"><%= notice %></p>

  <%= render 'form_fuel_create', stata_fuel: @stata_fuel %>

  <%= link_to 'Back', bikes_path %>

<br/>
<hr/>
   
   <%= render 'table_view_stata_fuel' %>